@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('src/app/navstyle.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
h1{
  margin: 50px;
}

.card{
  padding: 20px;
  margin: 50px;;
}
.card img{
  width: 200px;
  height: 300px;
  align-items: center;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
