<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> AGRICULTURAL PRODUCTS </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">FARMBUY</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="/adminconsole">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a  routerLink="/adminstocks"  class="active">
            <i class='bx bx-box' ></i>
            <span class="links_name" routerLink="/adminstocks">Product</span>
          </a>
        </li>
        <li>
          <a routerLink="/allpayment">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name" routerLink="">All Payments</span>
          </a>
        </li>
        <li>
          <a routerLink="/addproduct">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Add Product</span>
          </a>
        </li>
        <li class="log_out">
          <a routerLink="/alogin">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div> -->
      <div class="profile-details">
        <span class="admin_name"><strong>{{username}}</strong></span>
      </div>
    </nav>
<div class="home-content">
<table class="table table-striped table-hover-table-bordered">
    <tr>
        <th>Sno</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Product Unit</th>
        <th>Product Quantity</th>
    </tr>
    <ng-container *ngFor="let li of res; let i=index">
        <tr>
            <td>{{i+1}}</td>
            <td>{{li.name}}</td>
            <td>{{li.price}}</td>
            <td>{{li.description}}</td>
            <td>{{li.unit}}</td>
            <td>{{li.qty}}</td>
        </tr>
    </ng-container>
</table>
    </div>
  </section>


</body>
</html>
