<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> AGRICULTURAL PRODUCTS </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">FARMBUY</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="/adminconsole" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name" >Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/adminstocks">
            <i class='bx bx-box' ></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a routerLink="/allpayment">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">All Payments</span>
          </a>
        </li>
        <li>
          <a routerLink="/addproduct">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Add Product</span>
          </a>
        </li>
        <li class="log_out">
          <a routerLink="/alogin">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div> -->
      <div class="profile-details">
        <span class="admin_name"><strong>{{username}}</strong></span>
      </div>
    </nav>

    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Order</div>
 <div class="container">
        <div class="">
            <div class="card" *ngFor="let item of res">
                <br>
                <ng-container >
              <div class="card-header">
                  <h4>Order Date:{{item.odate}}</h4>
                  <h4>Customer Id:{{item.custid}}</h4>
              </div>
                <div class="card-body" >
                  <div class="table-title">
                      <h4>Summary</h4>
                  </div>
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let i of item.orderList">
                      <tr>
                        <th scope="row">1</th>
                        <td>{{i.name}}</td>
                        <td>{{i.price}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer">
                  <h5>Grand Total: {{item.grandtotal}}</h5>
              </div>
              </ng-container>
              </div>
        </div>
    </div>

        </div>
      </div>
    </div>


  </section>


</body>
</html>
