<app-header></app-header>
<div class="wrapper">

    <div class="background-container">
        <div class="bg-1"></div>
        <div class="bg-2"></div>

    </div>
    <div class="about-container">
        
        <div class="image-container">
            <img src="assets/image/lake-constance-sheep-pasture-sheep-blue-158179.jpeg" alt="">
            
        </div>

        <div class="text-container">
            <h1>About us</h1>
            <p>Featured services for Agriculture Products and Serrvice <br> Agriculture Products include seeds,pesticides and fungicides.</p>
            <!--<a href="">Read More</a>-->  
        </div>
        
        
    </div>
</div>
